.radioButton {
    position: relative;
    display: grid;
    place-content: center;
    width: max-content;
    background-color: #fff;
    border: 1px solid var(--dark-grey-color);
    transition: background-color 0.1s ease-in-out;
    padding: 12px 24px;
    min-width: 124px;
    border-radius: 10px;

    &__input {
        position: absolute;
        visibility: hidden;
        clip: rect(0 0 0 0);
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
        width: 1px;

    }


}

.checked {
    background-color: var(--dark-grey-color);
    color: #fff;
}