@font-face {
  font-weight: 100;
  font-family: Montserrat;
  src: url("/Montserrat-Thin.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Montserrat;
  src: url("/Montserrat-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Montserrat;
  src: url("/Montserrat-Bold.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Montserrat;
  src: url("/Montserrat-SemiBold.ttf");
}