@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";

* {
  font-family: Montserrat, serif;
  scrollbar-color: var(--red-color) transparent;
  scrollbar-width: thin;
  color: var(--black-color);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 4px;
}

#root {
  height: 100vh;
  overflow: auto;
}

.app {
  position: relative;
  z-index: 1;
}

.textUnderline {
  text-decoration: underline;
}