:root {
  --red-color: #FC8080;
  --black-color: #111424;
  --dark-grey-color: #122533;
  --light-grey-color: #F6F6F6;
  --yellow-color: #faaf00;
  --error-color:  #ff0000;
  --success-color: #3c763d;
  --warning-color: #ffd000;
}
