:root {
  --red-color: #FC8080;
  --black-color: #111424;
  --dark-grey-color: #122533;
  --light-grey-color: #F6F6F6;
  --yellow-color: #faaf00;
  --error-color: #FF3232;
  --success-color: #6BBF5D;
  --warning-color: #EFD54A;


  --z-index-notification: 1000;
  --z-index-popup: 100;
  --z-index-popover: 10;
}