.reviewsList {
    display: grid;
    gap: 32px;
    margin-top: 32px;

    &__itemHeading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;

    }

    &__user {
        display: flex;
        align-items: center;
        gap: 12px;
        color: var(--primary-black, #0A0A0A);
        font-size: 18px;
        font-weight: 600;
        line-height: 135%;
    }

    &__rightCol {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__date {
        color: var(--secondary-gray, #9B9B9B);
        font-size: 16px;
        font-weight: 600;
        line-height: 135%;
    }

    &__infoSection {
        margin-left: 54px;
        margin-top: 14px;
        display: grid;
        gap: 16px;
    }

    &__itemInfo {
        display: grid;
        gap: 8px;
    }

    &__infoTitle {
        color: var(--dark-grey-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%;
    }

    &__infoContent {
        color: var(--secondary-gray, #9B9B9B);
        font-size: 16px;
        line-height: 135%;
    }

    &__imagesContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__imageItem{
        border-radius: 10px;
        overflow: hidden;
        width: 100px;
        height: 100px;
        cursor: pointer;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}