.restorePassword {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;

    &__title {
        margin-top: auto;
    }

    &__text {
        margin-top: 18px;
        font-size: 14px;
        font-weight: 400;
        line-height: 135%;
        text-align: center;
    }

    &__messageText{
        margin-block: auto;
        font-size: 22px;
        text-align: center;
    }

    &__inputGroup {
        display: grid;
        gap: 16px;
        width: 100%;
        margin-block: 32px;
    }

    &__link {
        text-align: center;
        margin-top: 16px;
    }

    &__socialButton {
        gap: 8px;
        margin-bottom: 8px;
    }

    &__back {
        margin: auto 0;
        & button{
            align-items: center;
            gap: 6px;
        }
    }
}