.restorePassword {
	width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 768px) {
		width: 100%;
	}

}
.title {
	margin-top: auto;
}

.text {
	margin-top: 18px;
	font-size: 14px;
	font-weight: 400;
	line-height: 135%;
	text-align: center;
}

.messageText {
	margin-block: auto;
	font-size: 22px;
	text-align: center;
}

.inputGroup {
	display: grid;
	gap: 16px;
	width: 100%;
	margin-block: 32px;
}

.link {
	text-align: center;
	margin-top: 16px;
}

.socialButton {
	gap: 8px;
	margin-bottom: 8px;
}

.back {
	margin: auto 0;

	& button {
		display: flex;
		align-items: center;
		gap: 6px;
	}
}