.breadcrumbs {

    display: flex;
    flex-wrap: wrap;
    gap: 44px;

    &__item {
        color: var(--dark-grey-color);
        font-size: 18px;
        line-height: 145%;
        position: relative;

        &:not(:first-child) {
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-bottom: 1px solid var(--dark-grey-color);
                border-right: 1px solid var(--dark-grey-color);
                border-bottom-right-radius: 2px;
                position: absolute;
                top: 50%;
                transform: rotate(-45deg) translateY(-50%);
                left: -24px;
                pointer-events: none;
            }
        }

        &:last-child {
            pointer-events: none;
        }
    }

    &__name {
        max-width: 320px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}