.goodsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 239px);
  justify-content: space-between;
  gap: 32px;

  &__item{
    position: relative;
    width: 239px;
  }

  &__itemArchived{
    filter: grayscale(1);
    color: #9B9B9B;
  }

  &__itemImage {
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 239px;
    border-radius: 32px;
    background-color: var(--light-grey-color);
  }

  &__itemTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
    margin-top: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
  }

  &__itemPrice {
    font-size: 18px;
    font-weight: 600;
    line-height: 135%;
    margin-top: 8px;
    color: inherit;
  }

  &__itemDate {
    font-size: 18px;
    line-height: 145%;
    color: #9B9B9B;
    margin-top: 8px;
  }

  &__rating{
    position: absolute;
    top: 12px;
    left: 14px;
    z-index: 1;
  }
  
  &__favoriteButton{
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 1;
  }
}