.goodsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;

  &__item{
    position: relative;
  }

  &__itemImage {
    display: block;
    width: 100%;
    height: 239px;
    border-radius: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__itemTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
    margin-top: 20px;
    display: block;
  }

  &__itemPrice {
    font-size: 18px;
    font-weight: 600;
    line-height: 135%;
    margin-top: 8px;
  }

  &__itemDate {
    font-size: 18px;
    line-height: 145%;
    color: #9B9B9B;
    margin-top: 8px;
  }
  
  &__favoriteButton{
    position: absolute;
    top: 14px;
    right: 14px;
  }
}