.button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  line-height: 135%;
}

.loading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.red {
  background-color: var(--red-color);
  color: #fff;
  display: grid;
  place-content: center;
  font-weight: 600;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: #F99;
  }

  &:active {
    background-color: #FF7575;
  }

  &:disabled {
    opacity: .5;
  }
}

.outline {
  border: 1px solid #122533;
  background-color: #fff;
  display: grid;
  place-content: center;
  font-weight: 600;
  border-radius: 10px;

  &:disabled {
    border-color: #9B9B9B;
    color: #9B9B9B;
  }
}

.black {
  background-color: #122533;
  color: #fff;
  display: grid;
  place-content: center;
  font-weight: 600;
  border-radius: 10px;

  &:disabled {
    background-color: #9B9B9B;
  }
}

.grey {
  background-color: var(--light-grey-color);
  font-weight: 600;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: #e0e0e0;
  }

  &:active {
    background-color: #d6d6d6;
  }

  &:disabled {
    background-color: #9B9B9B;
  }
}

.size_m {
  padding: 16px 32px;
  font-size: 18px;

  @media (max-width: 768px) {
    padding: 14px 32px;
  }
}

.size_s {
  font-size: 14px;
  padding: 10px 18px;
}