.overlay {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;
  z-index: 100;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s 0.15s, visibility 0s 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transition: 0.2s;

    .content {
      opacity: 1;
      transition: 0.3s;
      transition-delay: 0.2s;
      transform: translateY(0);
    }
  }
}

.content {
  transform: translateY(-3%);
  transition: 0.3s;
  transition-delay: 0s;
  opacity: 0;
}