.storeGoodsBlock {
  width: 100%;
  min-height: 434px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.toggler {
  display: flex;
  gap: 32px;
}

.link {
  color: var(--dark-grey-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 135%;
}

.activeLink {
  color: var(--red-color);
  pointer-events: none;
}
