.filtersPopup {
  width: 780px;
  position: relative;
  padding: 32px;
  border-radius: 24px;
  border: 1px solid #122533;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #fff;

  &__sectionTitle {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 135%;
    margin-bottom: 12px;
  }

  &__buttons {
    display: flex;
    gap: 12px;
    margin-top: 32px;
  }

  &__button {
    width: 100%;
  }

  &__inputs {
    position: relative;
    display: flex;
    gap: 48px;

    &::after {
      content: "";
      width: 24px;
      height: 1px;
      position: absolute;
      border-radius: 2px;
      background-color: #ccc;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__checkboxes {
    display: grid;
    gap: 5px;
  }

  &__radios{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}