.reviewsList {
  display: grid;
  gap: 32px;
  margin-top: 32px;

}

.itemHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary-black, #0A0A0A);
  font-size: 18px;
  font-weight: 600;
  line-height: 135%;
}

.rightCol {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date {
  color: var(--secondary-gray, #9B9B9B);
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
}

.infoSection {
  margin-left: 54px;
  margin-top: 14px;
  display: grid;
  gap: 16px;
}

.itemInfo {
  display: grid;
  gap: 8px;
}

.infoTitle {
  color: var(--dark-grey-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
}

.infoContent {
  color: var(--secondary-gray, #9B9B9B);
  font-size: 16px;
  line-height: 135%;
}

.imagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.imageItem {
  border-radius: 10px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;

  img {
    object-fit: cover;
  }
}

.reviews {
  display: grid;
  gap: 32px;
}