.reviewFormPopup {
  width: 780px;
  position: relative;
  padding: 32px;
  border-radius: 24px;
  border: 1px solid #122533;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: grid;
  gap: 32px;
}

.subtitle {
  margin-bottom: 4px;
  font-weight: 600;
}

.goodInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}

.goodImage {
  object-fit: cover;
  border-radius: 10px;
}

.goodTitle {
  font-size: 18px;
  font-weight: 600;
  max-width: 282px;
}

.userData {
  display: flex;
  justify-content: space-between;
}

.review{
  display: grid;
  gap: 8px;
}

.userName {
  color: var(--dark-grey-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 135%;
}

.buttons {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.button {
  width: 100%;
}