.searchInput {
  width: 260px;
  position: relative;
  height: 57px;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 20px;
  }

  &__textField {
    padding: 18px 20px;
    padding-left: 54px;
  }
}