.reviewSortDropdown {
  position: relative;
  display: flex;
  gap: 7px;
  align-items: center;
  cursor: pointer;
  width: max-content;
  font-weight: 600;

  &:focus {
    text-decoration: underline 1px;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 2px solid var(--dark-grey-color);
    border-right: 2px solid var(--dark-grey-color);
    transform: rotate(45deg);
    margin-bottom: 2px;
  }

  &__dropdown {
    padding: 9px 0;
    display: grid;
    cursor: default;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 9px 18px;
    width: 100%;

    &.selected {
      pointer-events: none;
    }

    &:hover {
      background-color: var(--light-grey-color) !important;
    }

    &:focus {
      background-color: var(--light-grey-color) !important;
    }
  }

  &__itemText {
    justify-content: space-between;
    width: 100%;
  }
}