.profileLayout {
  margin-top: 72px;
  padding-bottom: 90px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  gap: 65px;
}

.vendorProfile {
  min-width: 285px;
}