.registerByEmail {
  width: 480px;
  display: grid;
  justify-items: center;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  &__text {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;

    @media (max-width: 768px) {
      margin-top: 16px;
      text-align: center;
      font-size: 13px;
    }
  }

  &__inputGroup {
    display: grid;
    gap: 16px;
    width: 100%;
    margin-block: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ccc;

    @media (max-width: 768px) {
      margin-block: 24px;
      padding-bottom: 24px;
      gap: 12px;
    }
  }

  &__link {
    text-align: center;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 24px;
    }
  }

  &__socialButton {
    gap: 8px;
    margin-bottom: 8px;
    width: 100%;

    @media (max-width: 768px) {
      font-size: 16px;
      padding-inline: 28px;
      font-weight: 400;
    }
  }

  &__messageText {
    text-align: center;
    font-size: 22px;
  }
}