.imageFileInput {
  width: 100%;

  &__preview {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__imageWrapper {
    position: relative;
  }

  &__removeImage {
    position: absolute;
    top: 5px;
    right: 5px;

    & img {
      filter: invert(47%) sepia(99%) saturate(5515%) hue-rotate(343deg) brightness(102%) contrast(105%);
    }
  }

  &__previewImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
  }

  &__loadInfo{
    margin-top: 12px;
    display: grid;
    gap: 4px;
  }
  &__loadTitle{
    font-weight: 600;
  }

  &__label {
    display: flex;
    height: 144px;
    width: 100%;
    border-radius: 10px;
    border: 2px dashed #9B9B9B;
    margin-top: 12px;
    justify-content: center;
    gap: 12px;
    align-items: center;
    font-size: 18px;
    color: #9B9B9B;
    cursor: pointer;
    &.isDrag{
      background-color: var(--light-grey-color);
    }
  }

  &__input {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 1px;
  }

  &__errorMessage{
    margin-bottom: 8px;
    color: var(--error-color);
  }
}