.categoriesPage {

    padding-bottom: 90px;

    &__breadcrubms{
        margin-top: 72px;
    }
    &__title{
        margin-top: 82px;
        margin-bottom: 72px;
        text-align: center;
        font-size: 46px;
        line-height: 122%;
    }

    &__titleContainer {
        margin-top: 76px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
    }
}