.geolocation {
  display: flex;
  font-size: 18px;
  line-height: 145%;
  position: relative;
}

.popover {
  position: absolute;
  right: 0;
  top: calc(100% + 35px);
  z-index: var(--z-index-popover);
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
}