.header {
  height: var(--header-height);
  padding-top: 38px;
  display: flex;
  align-items: center;
  width: 100%;
}

.rightBlock {
  margin-left: auto;
  display: flex;
  gap: 18px;
  align-items: center;
}

.link {
  width: 178px;
}