.dropdown {
  position: absolute;
  border: 1px solid var(--dark-grey-color);
  overflow-y: auto;
  border-radius: 24px;
  background-color: #fff;
  z-index: 10;
}

.top {
  top: calc(100% + 8px);
}

.bottom {
  bottom: calc(100% + 8px);
}