.mainPage {
  margin-top: 180px;
  padding-bottom: 90px;

  &__categories {
    text-align: center;
    font-size: 46px;
    line-height: 122%;
  }

  &__catDescription {
    margin-top: 24px;
    text-align: center;
    max-width: 805px;
    margin-inline: auto;
    margin-bottom: 72px;
  }

  &__titleContainer {
    margin-top: 72px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
}