.mainPage {
  margin-top: 180px;
  padding-bottom: 90px;
}

.categoriesTitle {
  text-align: center;
  font-size: 46px;
  line-height: 122%;
}

.catDescription {
  margin-top: 24px;
  text-align: center;
  max-width: 805px;
  margin-inline: auto;
  margin-bottom: 72px;
}

.titleContainer {
  margin-top: 72px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}