@import "./reset.scss";
@import "./variables.scss";

* {
  font-family: inherit;
  scrollbar-color: var(--red-color) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 4px;
}

body {
  color: var(--dark-grey-color);
}

#root {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.app {
  position: relative;
  z-index: 1;
}

.textUnderline {
  text-decoration: underline;
}

.swiper-button-disabled {
  opacity: .5;
}

.no-pointer-events {
  pointer-events: none;
}

div:focus {
  outline: none;
}

.hiddenInput {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 1px;
}

.greyText {
  color: var(--grey-color);
}